body {
    font-family: 'Comfortaa';
}
* { 
    color: #505759; 
}
.allContainer {
    max-width: 1170px;
    margin: 0 auto;
}

#map {
    width: 600px;
        height: 300px;
    }
.ymaps-2-1-79-copyright--content {
    display: none;
}
#map2 {
        width: 800px;
        height: 800px;
        }
        
 #mapAbout {
    width: 800px;
    height: 600px;
}
#map_content {
    width: 600px;
    height: 400px;
}
.topGif {
    background-image: url(bike.jpg);
    height: 250px;
}
.container_top {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 40px;
}
#authOne {
    margin: 10px;
}
#authTwo {
    margin: 10px; 
}
.stockNav {
   margin: 10px 0px 10px 10px; 
}
a {
    margin: 10px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .3s;
    font-size: 20px;
    color: #505759; 
}
a:hover {
    background-size: 100% 2px;
    color: #ffe366;
}
a:active {
    color: #fff;
}
.stockNav > a.leftblock {
    margin: 10px 0px 10px 10px; 
 }
.btn {
    background-color: #ffe366;
}
#signInForm {
    background-color: #ffe366;
}
#signUpForm {
    background-color: #ffe366;
    
}
.form-control {
    position: relative;
}
.modal-body {
    display: flex;
    flex-direction: column
}
.modal-content {
    width: auto;
    border-radius: 0px;

}
.modal-header {
    background-color: #ffe366;
    border-bottom:1px solid #fff;
    border-radius: 0px;
}
.btn-primary {
    background-color: #fff;
    color: #505759; 
    --bs-btn-border-color: #fff;

}

.btn-primary:hover {
    background-color: #fcdb4a;
}
.btn-secondary {
    background-color: #fff;
    color: #505759; 
    --bs-btn-border-color: #fff;
}
.btn-secondary:hover {
    background-color: #fcdb4a;
}

.button_content {
    padding: 0px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
}
.button_content:hover {
    background-color: #fcdb4a;

}

.modal-dialog-centered {
    display: flex;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    align-items: center;
    justify-content: center;
}
.modal-footer {
    border-top: var(--bs-modal-footer-border-width) solid #fff;
}

.red-text {
    color: red;
    font-size: 1rempx;
}

.lineBorder {
    margin: 10px 0px 10px 0px;
    background-color: #2ca8b9;
    height: 5px;
}
.allPublic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content {
    width: 380px;
    height: 570px;
    border:  2px solid #505759;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 5px 5px #d2d2d2;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.content_lk {
    width: 380px;
    height: 570px;
    border:  2px solid #fcdb4a;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container_personal {
    display: flex;
    flex-direction: column;
}
.about_content {
    display: flex;
}
.about_map {
    box-sizing: border-box;
    height: 600px;

}
.about_road {
    font-size: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.row { 
    display: block;
    margin: 0;
}
.row>* { 
    margin: 0;
}
.qrcode {
    height: 322px;
    width: 322px;
    background-color: #505759;
}
.about_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.view_comment {
    width: 800px;
    background-color: #505759;
}
.add_comment>input {
    margin: 20px;
    width: 400px;
    height: 50px;
}
.add-road {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mapAddId {
    width: 500px;
    height: 300px;
}

.block-addMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}

#addMapForm {
    margin-bottom: 40px;
}

#noChoiseId {
    margin-top: 20px;
    font-family: 'Comfortaa';
    font-weight: 600;
}

.mapDiv>img {
    height: 300px;
    width: 370px;
}

.mapDiv>img {
    height: 280px;
    width: 350px;
    border-radius: 10px;
}

.text_content {
    width: 350px;
}
.delete_btn {
    width: 200px;
    border-radius: 10px;
    background-color: #505759;
}
.btn:hover {
    color: #505759;
}
.btn>a {
    text-decoration: none;
    transition: 0s;
}
.btn>a:hover {
    background-size: 100% 0px;
    color: #505759;
}
.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #fcdb4a ;
    border-color: #fcdb4a;
}